*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
      background-color: #cfcfaa; 
}

label{
    display: flex;
    font-size: 19px;
    
}

fieldset{
    max-width: 500px;
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    margin-top: 60px; 
    background-color:#ffff;      
}

.part-list{
    text-align: center;
    margin-bottom: 18px;
}

input{
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

button{
    padding: 12px;
    cursor: pointer;
    border-radius: 17px;  
    background-color: #4a455c;
    color: #ffff;    
}

button:disabled{
    cursor: not-allowed;
    background-color: #f4f4f4; 
    color: #888; 
}

.table-consult{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    width: 80%;
    margin-left:37%;
    margin-top: 20px;
}

.field-checked{
    display: none;
    font-size: #eb0707;
    font-size: 17px;
}
.span-error{
    display: block;
    color:#eb0707;
}

